sup {
  color:red;
}

.custom-placeholder {
  font-size:0.7em;
}

.sign-up-form {
  width: 100%;
  max-width: 600px;
  padding: 20px;
  margin: 0 auto;
}

.sign-up-input {
  width: 100%;
}

/* 반응형 스타일 적용 */
@media (max-width: 768px) {
  .sign-up-input {
    width: 90%;
  }

  .gender-radio-btn-box {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .d-flex.justify-content-center {
    flex-direction: column;
    align-items: center;
  }

  button {
    width: 100%;
    margin-bottom: 10px;
  }
}

@media (max-width: 576px) {
  .sign-up-form {
    padding: 10px;
  }

  .input-group-text {
    font-size: 14px;
  }

  h1 {
    font-size: 1.5rem;
  }
}