<<<<<<< HEAD
<<<<<<< HEAD
* {
  margin:0;
  padding:0;
  box-sizing:border-box;
}

@font-face {
  font-family:"Galmuri14";
  src:url(./asset/Galmuri14.ttf) format("truetype");
  font-weight:normal;
  font-style:normal;
}

body {
  margin:1% 0 0 0;
  background-color:#E8DCCA;
}

.flexContainer {
  display:flex;
  flex-direction: column;
  width:700px;
  height:850px;
  margin: 0 auto;
  border:2px dashed black;
}
=======
.App {
  text-align: center;
=======
@font-face {
  font-family:"Galmuri14";
  src:url(/src/asset/Galmuri14.ttf) format("truetype");
  font-weight:normal;
  font-style:normal;
>>>>>>> 2605a04 (	deleted:    public/favicon.ico)
}

body {
  display:flex;
  justify-content:center;
  margin:2% 0 0 0;
}


.gridContainer {
  display:grid;
  grid-template-columns: 700px;
  grid-template-rows: 400px 100px 200px 100px;
  grid-template-areas:
  " logo "
  " loginForm " /* 할당 높이 */
  " section "
  " footer ";
  border:2px double black;
}
/* 컬럼 너비, 로우 높이*/
#logo {
  width:400px;
  height:400px;
  grid-area:logo;
}

loginForm {
  display:grid;
  grid-template-columns: 50px 600px;
  grid-template-rows: 50px 10px 50px 30px 50px;
  grid-template-areas:
  " . inputId "
  " . . "
  " . inputPassword "
  " . . "
  " . loginButton ";
  grid-area:loginForm;
}

#inputId {
  padding:6px;
  font-size:20px;
  grid-area:inputId;
}
<<<<<<< HEAD
<<<<<<< HEAD
>>>>>>> 9c68b7e (Initialize project using Create React App)
=======

#password {
  border:1px solid black;
  grid-area:password;
=======
#inputId::placeholder {
  font-size:15px;
>>>>>>> a5f2161 (	modified:   src/App.css)
}

#inputPassword {
  padding:6px;
  font-size:20px;
  grid-area:inputPassword;
}
#inputPassword::placeholder {
  font-size:15px;
}

#loginButton {
  text-align:center;
  
  border-radius:5%;
  background-color:#A374DB;
  color:white;

  grid-area:loginButton;
}
/* 중간 아래 섹션 부분 */
section {
  display:flex;
  flex-direction:row;
  justify-content:flex-end;
  align-items:center;
}
#saveIdCheckBox {
}

#savePasswordCheckBox{
}

#savePassword {
}

#autoLogin {
}
/* 맨 아래 푸터 부분 */
footer {
  display:flex;
  flex-direction:row;
  justify-content:space-around;
  align-items:center;

}

#recoverId {
}

#recoverPassword {
}

#newAccount {
<<<<<<< HEAD
  border:1px solid black;
}
>>>>>>> 2605a04 (	deleted:    public/favicon.ico)
=======
}
>>>>>>> a5f2161 (	modified:   src/App.css)
